calib_data/*
!calib_data/final_success_20260617/
!calib_data/final_success_20260617/image.png
!calib_data/final_success_20260617/lidar_bag/
!calib_data/final_success_20260617/lidar_bag/metadata.yaml
!calib_data/final_success_20260617/lidar_bag/*.db3

output/*
!output/final_success_20260617/
!output/final_success_20260617/calib_result.txt
!output/final_success_20260617/colored_cloud.pcd
!output/final_success_20260617/colored_cloud.ply
!output/final_success_20260617/filtered_cloud.ply
!output/final_success_20260617/qr_detect.png
build/*
install/*
log/*
MvSdkLog/*
